<div class="flex-col align-items-center gap-2">
    <div class="flex-row align-items-center gap-1">
        <button mat-mini-fab (click)="onLetterClick('Q')">
            Q
        </button>
        <button mat-mini-fab (click)="onLetterClick('W')">
            W
        </button>
        <button mat-mini-fab (click)="onLetterClick('E')">
            E
        </button>
        <button mat-mini-fab (click)="onLetterClick('R')">
            R
        </button>
        <button mat-mini-fab (click)="onLetterClick('T')">
            T
        </button>
        <button mat-mini-fab (click)="onLetterClick('Y')">
            Y
        </button>
        <button mat-mini-fab (click)="onLetterClick('U')">
            U
        </button>
        <button mat-mini-fab (click)="onLetterClick('I')">
            I
        </button>
        <button mat-mini-fab (click)="onLetterClick('O')">
            O
        </button>
        <button mat-mini-fab (click)="onLetterClick('P')">
            P
        </button>
    </div>

    <div class="flex-row align-items-center gap-1">
        <button mat-mini-fab (click)="onLetterClick('A')">
            A
        </button>
        <button mat-mini-fab (click)="onLetterClick('S')">
            S
        </button>
        <button mat-mini-fab (click)="onLetterClick('D')">
            D
        </button>
        <button mat-mini-fab (click)="onLetterClick('F')">
            F
        </button>
        <button mat-mini-fab (click)="onLetterClick('G')">
            G
        </button>
        <button mat-mini-fab (click)="onLetterClick('H')">
            H
        </button>
        <button mat-mini-fab (click)="onLetterClick('J')">
            J
        </button>
        <button mat-mini-fab (click)="onLetterClick('K')">
            K
        </button>
        <button mat-mini-fab (click)="onLetterClick('L')">
            L
        </button>
    </div>

    <div class="flex-row align-items-center gap-1">
        <button mat-fab extended (click)="onEnterClick()">
            ENTER
        </button>
        <button mat-mini-fab (click)="onLetterClick('Z')">
            Z
        </button>
        <button mat-mini-fab (click)="onLetterClick('X')">
            X
        </button>
        <button mat-mini-fab (click)="onLetterClick('C')">
            C
        </button>
        <button mat-mini-fab (click)="onLetterClick('V')">
            V
        </button>
        <button mat-mini-fab (click)="onLetterClick('B')">
            B
        </button>
        <button mat-mini-fab (click)="onLetterClick('N')">
            N
        </button>
        <button mat-mini-fab (click)="onLetterClick('M')">
            M
        </button>
        <button mat-fab extended (click)="onBackspaceClick()">
            < </button>
    </div>
</div>