<div class="wrapper">
  <h1>Receipt Handler</h1>

  <form
    class="flex-col"
    [formGroup]="addReceiptForm"
    (ngSubmit)="submitReceipt()"
  >
    <mat-form-field>
      <mat-label>Total</mat-label>
      <input matInput type="number" required formControlName="total" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Tag</mat-label>
      <input matInput type="text" formControlName="tag" />
    </mat-form-field>

    <div class="flex radio-groups">
      <div class="flex-col">
        <label id="purchaser-label">Purchaser</label>
        <mat-radio-group
          aria-labelledby="purchaser-label"
          aria-label="Select the purchaser of the receipt"
          formControlName="purchaser"
        >
          <mat-radio-button color="primary" value="E">E</mat-radio-button>
          <mat-radio-button color="primary" value="L">L</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="flex-col">
        <label id="payment-option-label">Payment Options</label>
        <mat-radio-group
          aria-labelledby="payment-option-label"
          aria-label="Select the payment option"
          formControlName="paymentOption"
        >
          <mat-radio-button color="primary" value="50">50%</mat-radio-button>
          <mat-radio-button color="primary" value="100">100%</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      class="submit-button"
    >
      Add receipt
    </button>
  </form>

  <div class="flex justify-around receipt-list">
    <div class="flex-1">
      <h2>E</h2>
      <app-receipt-list
        [receipts50$]="receiptsByPurchaserE50$"
        [receipts100$]="receiptsByPurchaserE100$"
        (removeReceipt)="removeReceipt($event)"
      ></app-receipt-list>
    </div>

    <div class="flex-1">
      <h2>L</h2>
      <app-receipt-list
        [receipts50$]="receiptsByPurchaserL50$"
        [receipts100$]="receiptsByPurchaserL100$"
        (removeReceipt)="removeReceipt($event)"
      ></app-receipt-list>
    </div>
  </div>

  <div class="complete-total-wrapper">
    <div class="flex items-center justify-center">
      <p class="total">{{ total$ | async }}</p>

      <button mat-raised-button color="primary" class="complete-button">
        Complete
      </button>
    </div>
  </div>
</div>
