<div class="wrapper">
  <h1>Receipt Handler</h1>

  <form
    class="flex-col"
    [formGroup]="addReceiptForm"
    (ngSubmit)="submitReceipt()"
  >
    <mat-form-field>
      <mat-label i18n="@@total">Total</mat-label>
      <input autofocus matInput required formControlName="total" />
      <mat-hint
        >Enter a number followed by 'e' or 'l' (case-insensitive) and any
        letters (e.g., 34eburger king)</mat-hint
      >
      @if (totalFormControl.hasError('pattern')) {
      <mat-error>Please enter a valid value</mat-error>
      } @if (totalFormControl.hasError('required')) {
      <mat-error>This field is required</mat-error>
      }
    </mat-form-field>

    <div class="flex-col radio-groups">
      <label id="payment-option-label">Payment Options</label>
      <mat-radio-group
        aria-labelledby="payment-option-label"
        aria-label="Select the payment option"
        formControlName="paymentOption"
      >
        <mat-radio-button color="primary" value="50">50%</mat-radio-button>
        <mat-radio-button color="primary" value="100">100%</mat-radio-button>
      </mat-radio-group>
    </div>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      class="submit-button"
    >
      Add receipt
    </button>
  </form>

  <div class="flex justify-around receipt-list">
    <div class="flex-1">
      <h2>E</h2>
      <app-receipt-list
        [receipts50]="receiptsByPurchaserE50()"
        [receipts100]="receiptsByPurchaserE100()"
        (removeReceipt)="removeReceipt($event)"
      ></app-receipt-list>
    </div>

    <div class="flex-1">
      <h2>L</h2>
      <app-receipt-list
        [receipts50]="receiptsByPurchaserL50()"
        [receipts100]="receiptsByPurchaserL100()"
        (removeReceipt)="removeReceipt($event)"
      ></app-receipt-list>
    </div>
  </div>

  @if (total()) {
  <div class="complete-total-wrapper">
    <div class="flex items-center justify-center">
      <p class="total">{{ total() }}</p>

      <button
        type="button"
        (click)="onComplete()"
        mat-raised-button
        color="primary"
        class="complete-button"
      >
        Complete
      </button>
    </div>
  </div>
  }
</div>
